.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0s 0.3s;
}

.modal_open {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease, visibility 0s 0s;
}

.modal__content {
  background: white;
  padding: 28px 28px 36px;
  border-radius: 20px;
  max-width: 496px;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  font-size: 16px;
}

.modal__label {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
}

.modal__input {
  display: block;
  border: none;
  border-bottom: 1px solid;
  width: 100%;
  padding-top: 8px;
}

.modal__close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 24px;
  cursor: pointer;
}

.modal__title {
  margin: 0;
  font-size: 16px;
}

.modal__legend {
  padding-top: 24px;
  padding-bottom: 12px;
}

.modal__label_type_radio {
  margin: 0;
  color: #00000080;
  flex-direction: row;
  padding: 0 0 4px;
}

.modal__label_type_radio:has(input:checked) {
  color: black;
}

.modal__radio-btns {
  display: flex;
  flex-direction: column;
  border: none;
  gap: 5px;
  padding: 0 0 32px;
  margin: 0;
}

.modal__radio-input {
  margin-right: 5px;
  accent-color: black;
}

.modal__submit-btn {
  background-color: #000000;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  max-width: 124px;
}

.modal__submit-btn:disabled {
  background-color: gray;
  cursor: not-allowed;
  opacity: 0.6;
}

.modal__submit-btn:hover {
  background-color: #00000099;
}
