.main {
  flex-grow: 1;
  font-size: 20px;
}

.main__items {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 21px;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.main__weather-info {
  padding: 40px 0 34px;
  margin: 0;
}
