.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
  max-height: 40px;
  font-size: 20px;
}

.header__logo {
  margin-right: 24px;
}

.header__info {
  display: flex;
  margin: 0;
}

.header__date {
  margin: 0;
}

.header__location {
  margin: 0;
}

.header__add-button {
  margin: 0 20px 0 20px;
  border: none;
  background-color: transparent;
}
.header__add-button:hover {
  cursor: pointer;
}

.header__link {
  text-decoration: none;
  color: black;
}

.header__user {
  display: flex;
  margin: 0;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
}

.header__avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.header__avatar:hover {
  cursor: pointer;
}

.header__login-container {
  display: flex;
  gap: 20px;
}

.header__signup-button {
  background-color: transparent;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 0;
  margin-left: 20px;
}

.header__login-button {
  background-color: transparent;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 0;
}
