.modal__label_error {
  color: red;
}

.modal__input_error {
  border-bottom: 1px solid red; /* Added !important to override any existing styles */
  color: red;
}

/* Add this if you want the input text to be red as well */
.modal__input_error::placeholder {
  color: red;
}

.modal__signup-btn {
  background-color: transparent;
  border: none;
}

.modal__signup-btn:hover {
  cursor: pointer;
}
